/* PARTE GERAL DA PÁGINA*/ /**/
*{
    padding: 0;
    margin: 0;
    font-family: "Century Gothic";
    text-align: center;
}

/*CABEÇALHO*/
header{
    background-color: #03719C;
    text-align: center;
    padding-top: 5px;
    height: 150px;
    width: 100%;
}

.cabecalho{
    height: 300px;
}

/*Menu de Navegação (Dentro do Header)*/
nav{
    text-align: center;
    font-size: 25px;
    height: 50px;
    vertical-align: middle;
    border-bottom: solid 3px #D0FEFE;
}

nav a{
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover{
    color: #ffff80;
}

/*Conteúdo do section em diante*/
body {
    background-color: #666666;
    color: #fffffa;
    height: 100vh;
}
section{
    height: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-size: 1.15em;
}

section h3 {
    font-size: 1.4em;
}

section .texto {
    padding-left: 10%;
    padding-right: 10%;
}

.quem-sou-eu img{
    border-radius: 25%;
    margin-top: 10px;
}

.quem-sou-eu p{
    margin-top: 20px;
}

.habilidades{
    margin-top: 30px;
}

.habilidades li{
    margin-top: 10px;
}

a{
    color: #fffffa;
    text-decoration: none;
}

a:hover {
    color: black;
}

.quem-sou-eu img {
    width: 154px;
    height: 206px;
}

/* Rodapé */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
}

footer h3 {
    font-size: 1.3em;
}

.contato {
    padding-left: 20px;
    padding-right: 20px;
}

.contato img{
    width: 70px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.blogs {
    padding-left: 20px;
    padding-right: 20px;
}
